:root{ /* Todo Esto es a Definir Segun que paleta de colores nos convenga*/
    --color-primario:   #28282b;
    --color-secundario: #555d50;
    --color-acento:     #028090;
    --color-fondo:      #3a5f42;
    --color-texto:      #1a1a1a;
    --color-texto-claro:#ffffff;
    --fuente-principal: "inter", sans-serif;
}

/*reset basico*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--fuente-principal);
    background-color: var(--color-fondo);
}
/*Estilos para el body*/

.ciudad-h1{
    background-color: var(--color-primario);
    border: var(--color-secundario) 5px solid;
    color: var(--color-texto-claro);
    text-align: center;
    font-size: 2.5rem;
    margin-top: 20px;

    border-radius: 10px;
   
}
