@font-face {
    font-family: "Gta-menu-font";
    src: url("../Tipografias/Bank-Gothic-Font/BankGothicLtBTLight.ttf") format("truetype");
}
:root{/*Parte Especial del menu especial*/
    --color-fondo-menu: #010101;
    --color-texto-menu: #5C677C;
    --color-texto-menu-hover: #AED6F9;
    --fuente-menu: "Gta-menu-font";
}

:root{ /* Todo Esto es a Definir Segun que paleta de colores nos convenga*/
    --color-primario:   #28282b;
    --color-secundario: #555d50;
    --color-acento:     #028090;
    --color-fondo:      #3a5f42;
    --color-texto:      #1a1a1a;
    --color-texto-claro:#ffffff;
    --fuente-principal: "inter", sans-serif;
}

/*reset basico*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*Estilos para el body*/
body{
    font-family: var(--fuente-principal);
    background-color: var(--color-fondo);
}
/*Estilos para el menu especial*/
.menu-especial{
    background-color: var(--color-fondo-menu);
    color: var(--color-texto-menu);
    font-family: var(--fuente-menu);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 1.7rem;
    height: 100vh;
}
.menu-especial h2{
    padding: 7px;
}
.menu-especial h2:hover{
    color: var(--color-texto-menu-hover);

}
.logo{
    width: 100%;
    height: 210px;
    position: absolute;
    top: 0;
}
/*Fin Estilos para el menu especial*/
.ciudad-h1{
    background-color: var(--color-primario);
    border: var(--color-secundario) 5px solid;
    color: var(--color-texto-claro);
    text-align: center;
    font-size: 2.5rem;
    margin-top: 20px;

    border-radius: 10px;
   
}
