:root{ /* Todo Esto es a Definir Segun que paleta de colores nos convenga*/
    --color-primario:   #1a2b4a;
    --color-acento:     #028090;
    --color-fondo:      #f7f9fa;
    --color-texto:      #1a1a1a;
    --color-texto-claro:#ffffff;
    --fuente-principal: "inter", sans-serif;
}

/*reset basico*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--fuente-principal);
    background-color: var(--color-primario);
}
/*salu2*/